::v-deep {
  .form-inline {
    display: block !important;
  }
  .navbar {
    padding: 0 1rem !important;
  }
  .border-secondary {
    border-color: #dee2e6 !important;
  }
  .el-menu-item:hover {
    border-bottom: 2px solid #909399 !important;
  }
  .el-menu.el-menu--horizontal {
    border-bottom: 0px !important;
  }
}
