::v-deep {
.comment-user{
    font-size: 13px;
    color: grey;
  }
  .comment-bottom {
    size: 14px;
    color: grey;
  }
    a {
     color: grey
    }
    a:hover {
      text-decoration: none !important;
      text-decoration-color: grey;
    }
  .isRecomment {
    margin-left: 20px;
    font-weight: 500;
  }
  .recomment-hide{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    height: 45px;
    cursor: pointer;
  }

}