::v-deep {
  .tag-box {
    width: auto;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
    background: #e7e0f7;
  }
  a {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none !important;
  }
}
