::v-deep{
    .title{
        font-size: 18px;
        font-weight: 600;
        margin-top: 10%;
      }
      ul {
        list-style-type: square;
        list-style-type: style color;
      }
       li::marker {
        color: red;
      }
      .list-item{
          font-size: 14px;
          font-weight: 500;
      }
      .list-rcmd{
        padding: 22px 23px;
        border: 1px solid #eee;
      }
}