::v-deep {
  // @media (min-width: 320px) and (max-width: 990px) {
  //   .modal-dialog {
  //     margin: 0 !important;
  //     height: 100% !important;
  //     width: 100% !important;
  //     position: fixed !important;
  //     box-sizing: border-box !important;
  //     left: 0 !important;
  //     top: 0 !important;
  //     width: 100% !important;
  //     height: 100% !important;
  //     z-index: 10002 !important;
  //     opacity: 1 !important;
  //   }
  //   .modal-content {
  //     margin: 0 !important;
  //     height: 100% !important;
  //     width: 100% !important;
  //     position: fixed !important;
  //     box-sizing: border-box !important;
  //     left: 0 !important;
  //     top: 0 !important;
  //     width: 100% !important;
  //     height: 100% !important;
  //     z-index: 10002 !important;
  //     opacity: 1 !important;
  //     overflow: inherit;
  //   }
  // }
  .el-form-item {
    margin-bottom: 18px;
  }
  .el-dialog__header {
    padding: 20px !important;
  }
  .write-modal-title {
    font-size: 18px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25em;
    color: #222;
    margin-top: -1px;
    cursor: default;
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: calc(100% - 115px);
    box-sizing: border-box;
  }
  .el-dialog__body {
    padding: 0 !important;
    overflow: auto !important;
  }
  .modal-footer {
    justify-content: space-between !important;
  }

  // 이전
  .list-group {
    height: 200px !important;
    overflow: scroll !important;
    overflow-x: hidden !important;
  }
  .el-collapse-item__header {
    padding: 0.75rem 1.25rem;
  }
  .el-collapse-item__content {
    padding-bottom: 0px !important;
    margin: 3px;
    border: 2px solid #50bcdf;
    border-radius: 5px;
  }
  .input-area {
    padding: 5px !important;
  }
  .input-control {
    margin: 5px;
  }
  .input-file-button {
    padding: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
    -ms-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
  }
  .svg-inline--fa.fa-w-12 {
    width: 25px !important;
    color: #0095ff;
  }
  .fa-hashtag {
    width: 25px !important;
    color: #ff3399 !important;
  }
  /* https://loy124.tistory.com/203        */
  .main-container {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
  }

  .room-deal-information-container {
    margin-top: 50px;
    color: #222222;
    border: 1px solid #dddddd;
  }

  .room-deal-information-title {
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    border-bottom: 1px solid #dddddd;
  }

  .room-deal-information-content-wrapper {
    min-height: 50px;
    display: flex;
  }

  .room-deal-informtaion-content-title {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #f9f9f9;
  }

  .room-deal-information-content {
    width: 100%;
    font-size: 14px;
  }

  .room-deal-option-selector {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  .room-deal-option-item {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
  }

  .room-deal-option-item:last-child {
    margin-left: 10px;
  }

  .room-deal-option-notice {
    margin-left: auto;
    font-size: 14px;
    color: #888888;
  }

  .room-deal-option-item-deposit {
    margin-left: 10px;
  }

  .room-deal-information-wrapper {
    display: flex;
    flex-direction: column;
  }

  .room-deal-information-option {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .room-deal-information-option:last-child {
    border-bottom: 1px solid #dddddd;
  }

  .room-deal-information-item-type {
    font-size: 13px;
    color: #fff;
    background-color: #61b6e5;
    min-width: 50px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }

  .room-deal-information-item-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 46px;
    width: 100%;
  }

  .room-deal-information-item-wrapper > input {
    border: 1px solid #dddddd;
    width: 140px;
    height: 100%;
    padding: 0 15px;
    font-size: 15px;
  }

  .room-deal-inforamtion-won {
    margin: 0 10px;
  }

  .room-deal-information-example {
    color: #888888;
  }

  .room-deal-information-option:not(:first-child) {
    margin-top: 10px;
  }

  .room-deal-inforamtion-divide {
    font-size: 22px;
    margin: 0 8px;
    color: #222222;
    font-weight: 100;
  }

  .room-deal-close-button-wrapper {
    margin-left: auto;
    cursor: pointer;
  }

  .room-deal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: #666666;
    color: rgb(220, 220, 220);
  }

  .room-deal-cliked {
    background-color: rgb(235, 235, 235);
    color: rgb(170, 170, 170);
  }

  .room-file-upload-example {
    height: 100%;
  }

  .room-write-content-container {
    border-top: 1px solid #dddddd;
    min-height: 260px;
  }

  .room-picture-notice {
    margin: 20px;
    padding: 20px 40px;
    border: 1px solid #dddddd;
  }

  .file-preview-content-container {
    height: 100%;
  }

  .room-file-upload-wrapper {
    margin: 20px;
    border: 1px solid #dddddd;
    background-color: #f4f4f4;
    min-height: 350px;
    font-size: 15px;
    color: #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .room-file-upload-example-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%;
width: 100%; */
  }

  .room-file-image-example-wrapper {
    text-align: center;
  }

  .room-file-notice-item {
    margin-top: 5px;
    text-align: center;
  }

  .room-file-notice-item-red {
    color: #ef4351;
  }

  .image-box {
    margin-top: 30px;
    padding-bottom: 20px;
    text-align: center;
  }

  .image-box input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }

  .image-box label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #232d4a;
    color: #fff;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
  }

  .file-preview-wrapper {
    padding: 10px;
    position: relative;
  }

  .file-preview-wrapper > img {
    position: relative;
    width: 190px;
    height: 130px;
    z-index: 10;
  }

  .file-close-button {
    position: absolute;
    /* align-items: center; */
    line-height: 18px;
    z-index: 99;
    font-size: 18px;
    right: 5px;
    top: 10px;
    color: #fff;
    font-weight: bold;
    background-color: #666666;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
  }

  .file-preview-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .file-preview-wrapper-upload {
    margin: 10px;
    padding-top: 20px;
    background-color: #888888;
    width: 190px;
    height: 130px;
  }

  .room-write-button-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
  }

  .room-write-button-wrapper > div {
    width: 160px;
    height: 50px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
  }

  .room-write-button {
    margin-left: 15px;
    color: #fff;
    background-color: #1564f9;
  }

  .room-write-button:hover {
    opacity: 0.8;
  }
  // 투표 영역
  .voting-area {
    padding: 5px;
    color: #94969b;
    font-weight: bold;
    margin-top: 10px;
    font-size: 13px;
  }
  .candidate {
    margin: 5px;
  }
  .plus-vote {
    padding: 5px;
    margin-top: 15px;
    font-size: 14px;
  }
  .vote-left{
    display: table-cell;
    text-align: left;
    width: 100%;
  }
  .vote-right {
    display: table-cell;
    text-align: right;
    width: 100%;
  }
}
