::v-deep {
  .title-wraper {
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: calc(100% - 115px);
    box-sizing: border-box;
    margin-top: 4px;
  }
  @media screen and (min-width: 1100px) {
    .title-wraper {
      width: calc(100% - 120px);
    }
  }
  .write-modal-title {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25em;
    color: #222;
    margin-top: -1px;
    vertical-align: top;
    cursor: default;
  }
  .modal-header .close {
    margin: -1rem -1rem -1rem 0 !important;
  }
  .modal-body {
    padding: 0 !important;
  }
  .list-group {
    height: 200px !important;
    overflow: scroll !important;
    overflow-x: hidden !important;
  }
  .el-collapse-item__header {
    padding: 0.75rem 1.25rem;
  }
  .el-collapse-item__content {
    padding-bottom: 0px !important;
    border: 1px solid black;
    border-radius: 6px;
  }
}
