::v-deep {
  .title-wraper {
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: calc(100% - 115px);
    box-sizing: border-box;
    margin-top: 4px;
  }
  @media screen and (min-width: 1100px) {
    .title-wraper {
      width: calc(100% - 120px);
    }
  }
  .write-modal-title {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25em;
    color: #222;
    margin-top: -1px;
    vertical-align: top;
    cursor: default;
  }
  .modal-header .close {
    margin: -1rem -1rem -1rem 0 !important;
  }
  .modal-body {
    padding: 0 !important;
  }
  .list-group {
    height: 200px !important;
    overflow: scroll !important;
    overflow-x: hidden !important;
  }
  .el-collapse-item__header {
    padding: 0.75rem 1.25rem;
  }
  .el-collapse-item__content {
    padding-bottom: 0px !important;
    margin: 3px;
    border: 2px solid #50bcdf;
    border-radius: 5px;
  }
  .input-area {
    padding: 20px !important;
  }
  .input-control {
    margin: 5px;
  }
  .input-file-button {
    padding: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
  }
  .svg-inline--fa.fa-w-12 {
    width: 25px !important;
    color: #0095ff;
  }
}
